@inject CartService CartService

<div class="card shadow-sm rounded-4 overflow-hidden h-fit">
    <img src="@product.Image" />

    <div class="p-3">
        <div class="d-flex justify-content-between gap-3">
            <div>
                <div class="d-flex gap-2 align-items-center">
                    <div class="d-flex gap-1">
                        @foreach (Colors color in product.Colors)
                        {
                            <span class="w-1rem h-1rem color @(ColorHelper.GetColorClass(color)) rounded-circle border border-1 border-default"></span>
                        }
                    </div>

                    <p class="fs-8 text-body-secondary">@product.BrandName <span class="opacity-25">•</span> @product.CategoryName</p>
                </div>

                <h3 class="fw-medium fs-7 mt-1">@product.Name</h3>
            </div>

            <div class="d-flex flex-column">
                <p class="fs-8 text-body-secondary">Sælger:</p>

                <h3 class="fw-medium fs-7">@product.UserName</h3>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-between">
            <p class="fw-semibold fs-6">@product.Price.ToString("C", CultureInfo.CurrentCulture)</p>

            <div class="d-flex gap-1 align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="text-warning" aria-hidden="true" role="img" width="14" height="14" viewBox="0 0 24 24">
                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.525 2.295a.53.53 0 0 1 .95 0l2.31 4.679a2.12 2.12 0 0 0 1.595 1.16l5.166.756a.53.53 0 0 1 .294.904l-3.736 3.638a2.12 2.12 0 0 0-.611 1.878l.882 5.14a.53.53 0 0 1-.771.56l-4.618-2.428a2.12 2.12 0 0 0-1.973 0L6.396 21.01a.53.53 0 0 1-.77-.56l.881-5.139a2.12 2.12 0 0 0-.611-1.879L2.16 9.795a.53.53 0 0 1 .294-.906l5.165-.755a2.12 2.12 0 0 0 1.597-1.16z"></path>
                </svg>

                <span class="fs-8">@ReviewsHelper.GetAverageRating(product.Reviews)</span>
            </div>
        </div>

        @if (product.Id > 0)
        {
            <div class="d-flex gap-3 mt-2">
                <button type="submit" class="btn btn-primary w-50" @onclick="AddToCart">Køb</button>

                <NavLink href="@($"/product-details/{product.Id}")" class="btn btn-outline-secondary w-50">Vis detaljer</NavLink>
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public Product product { get; set; }

    private void AddToCart()
    {
        if (product is null)
        {
            return;
        }

        Product alteredProduct = new Product
        {
            Id = product.Id,
            Name = product.Name,
            Description = product.Description,
            Price = product.Price,
            Colors = new List<Colors>() { product.Colors.First() },
            Sizes = new List<string>() { product.Sizes.First() },
            Image = product.Image,
            BrandId = product.BrandId,
            CategoryId = product.CategoryId,
            UserId = product.UserId,
            BrandName = product.BrandName,
            CategoryName = product.CategoryName,
            UserName = product.UserName
        };

        CartService.AddToCart(alteredProduct);
    }
}
