@page "/orders"
@rendermode InteractiveServer
@inherits BasePage

@inject NavigationManager Nav
@inject OrderService OrderService

<PageTitle>Mine Ordrer</PageTitle>

<h1 class="fs-2 mb-4">Mine Ordrer</h1>

<div class="card shadow-sm rounded-2 p-3 gap-3">
    @if (OrderService.GetOrders().Any())
    {
        @foreach (Order order in OrderService.GetOrders().OrderByDescending(o => o.OrderedAt))
        {
            <div class="card p-3 flex-row justify-content-between">
                <div class="d-flex flex-column gap-1 w-50">
                    <div class="d-flex gap-2">
                        <h3 class="fw-semibold">ORDRE-@order.Id</h3>

                        <span class="badge rounded-pill text-bg-success">Leveret</span>
                    </div>

                    <p class="fs-7 text-body-secondary">Bestilt: @order.OrderedAt.ToString("dd/MM/yyyy HH:mm")</p>

                    <p class="fs-7 mt-auto">Produkter: <span class="fw-semibold">@order.Products.Count</span> <span class="opacity-25">•</span> Subtotal: <span class="fw-semibold">@GetPrice(order)</span></p>
                </div>

                <div class="d-flex flex-wrap gap-2 w-50 justify-content-end my-auto">
                    @foreach (Product product in order.Products)
                    {
                        <img src="@product.Image" alt="@product.Name" class="rounded-2 min-w-3rem w-3rem min-h-3rem h-3rem" />
                    }
                </div>
            </div>
        }
    }
    else
    {
        <p class="fw-semibold mx-auto">Der er ingen ordrer at vise.</p>
    }
</div>

@code {
    private string GetPrice(Order order)
    {
        decimal total = order.Products.Sum(p => p.Price);

        return total.ToString("C", CultureInfo.CurrentCulture);
    }
}